<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Cadastro de Professores</title>
</head>

<section layout:fragment="conteudo">
    <div id="main" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li><a href="/professor/cadastro/pessoal">Dados Pessoais</a></li>
                    <li class="active"><a href="/professor/cadastro/geral">Dados Gerais</a></li>
                    <li><a href="/professor/cadastro/atuacao">Atuação Profissional</a></li>
                    <li><a href="/professor/cadastro/publicacao">Publicações</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <form method="post" action="/professor/cadastro/geral" th:object="${iesGeral}">
                    <div layout:include="Mensagem"></div>
                    <!-- Area de campos do form -->
                    <h3 class="page-header">Cadastro de Dados Gerais do Professor</h3>

                    <h4>Dados Gerais</h4>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="matricula">Matrícula</label>
                            <select class="form-control" id="matricula" name="matricula">
                                <option th:each="professor : ${todosProfessores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dataadmissao">Data Admissão</label>
                            <input type="date" class="form-control" id="dataadmissao" th:field="*{dataAdmissao}"
                                   required="required"/>
                        </div>
                    </div>

                    <h4>Informe a Quantidade de Horas das Atividades</h4>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="horasnde">Horas NDE</label>
                            <input type="text" class="form-control" id="horasnde" th:field="*{horasNde}" required="required"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="atividadeextraclassecurso">Ativ. Extra Classe Curso</label>
                            <input type="text" class="form-control" id="atividadeextraclassecurso"
                                   th:field="*{qntAtividadeExtraCurso}" required="required"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="orientacaotcc">Orientação TCC</label>
                            <input type="text" class="form-control" id="orientacaotcc"
                                   th:field="*{qntOrientacaoTcc}" required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="atividadeextraclasseoutroscursos">Ativ. Extra Classe Outros Cursos</label>
                            <input type="text" class="form-control" id="atividadeextraclasseoutroscursos"
                                   th:field="*{qntAtividadeExtraOutrosCursos}" required="required"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="coordenacaocurso">Coordenação Curso</label>
                            <input type="text" class="form-control" id="coordenacaocurso"
                                   th:field="*{qntCoordenacaoCurso}" required="required"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="coordenacaooutroscursos">Coordenação Outros Cursos</label>
                            <input type="text" class="form-control" id="coordenacaooutroscursos"
                                   th:field="*{qntCoordenacaoOutrosCursos}" required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="qtdehorascurso">Qtde. de Horas Curso</label>
                            <input type="text" class="form-control" id="qtdehorascurso"
                                   th:field="*{qntHorasCurso}" required="required"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="qtdehorasoutroscursos">Qtde. Horas Outros Cursos</label>
                            <input type="text" class="form-control" id="qtdehorasoutroscursos"
                                   th:field="*{qntHorasOutrosCursos}" required="required"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="pesquisa">Pesquisa</label>
                            <input type="text" class="form-control" id="pesquisa" name="pesquisa" required="required"/>
                        </div>
                    </div>

                    <h4>Disciplinas Ministradas no Curso</h4>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <select class="form-control" id="disciplinas" name="disciplinas">
                                <option th:each="disciplina : ${disciplinasProfessor}" th:value="${disciplina.cargaHoraria}" th:text="${disciplina.nome}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-info" type="button">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="table-responsive" id="tblDisciplinasCurso">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center col-md-2">Disciplina</th>
                                            <th class="text-center col-md-2">Carga Horária</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <h4>Disciplinas Ministradas em outros Cursos do IES</h4>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <select class="form-control" id="disciplinas" name="disciplinas">
                                <option th:each="disciplina : ${disciplinasProfessor}" th:value="${disciplina.cargaHoraria}" th:text="${disciplina.nome}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-info" type="button">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="table-responsive" id="tblDisciplinasOutroCurso">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center col-md-2">Disciplina</th>
                                            <th class="text-center col-md-2">Carga Horária</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Botões final -->
                    <div id="actions" class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success" value="salvar">Salvar</button>
                            <a href="#" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</html>
