<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"/>

	<!-- Tag "charset" especial para o IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<!-- Tag para responsividade... -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Cadastro do Cronograma de Atividades</title>
</head>

<body>
	<header layout:include="Cabecalho"></header>

	<div id="main" class="container-fluid">
		<form method="post" action="/disciplinas">
			<div class="alert alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}">Cronograma cadastrada com
					sucesso!</span>
			</div>
			<!-- Area de campos do form -->
			<h3 class="page-header">Cadastrar Cronograma</h3>
			<p>Anexar comprovantes</p>
			<div class="row">
				<div class="form-group col-md-6">
					<table class="table">
						<thead>
							<th>Aula</th>
							<th>Conteúdo</th>
						</thead>
						<tbody>
							<tr>
								<td>01</td>
								<td>exmplo</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
	<!-- JQuery e Plug in do bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>