<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Cadastro do Plano de Ensino</title>
</head>

<section layout:fragment="conteudo">
    <div id="main" class="container-fluid">
        <form method="post" action="/disciplinas">
            <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
                <span th:text="${mensagem}">Plano de Ensino cadastrado com sucesso!</span>
            </div>
            <!-- Area de campos do form -->
            <h3 class="page-header">Adicionar Plano de Ensino</h3>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="curso">Curso</label>
                    <input type="text" class="form-control" id="curso" name="curso"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="ano">Ano</label>
                    <input type="number" class="form-control" id="ano" name="ano"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="semestre">Semestre</label>
                    <input type="number" class="form-control" id="semestre" name="semestre"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="disciplina">Disciplina</label>
                    <select class="text" id="disciplina" name="disciplina">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="nomedisciplina">Nome Disicplina</label>
                    <select class="text" id="nomedisciplina" name="nomedisciplina">
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="cargahorariasemestral">Carga Horária Semestral</label>
                    <input type="number" class="form-control" id="cargahorariasemestral" name="cargahorariasemestral"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="periododocurso">Período do Curso</label>
                    <input type="number" class="form-control" id="periododocurso" name="periododocurso"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="semestre">Professor</label>
                    <input type="text" class="form-control" id="matricula" name="matricula" value="matricula"/>
                </div>

                <div class="form-group col-md-3">
                    <label for="semestre">Nome do Curso</label>
                    <input type="text" class="form-control" id="matricula" name="matricula"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="ementa">Ementa</label>
                    <textarea class="form-control" rows="5" id="ementa" name="ementa"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="competenciasehabilidades">Competências e Habilidades</label>
                    <textarea class="form-control" rows="5" id="competenciasehabilidades"
                              name="competenciasehabilidades"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="metodologiadeensino">Metodologia de Ensino</label>
                    <textarea class="form-control" rows="5" id="metodologiadeensino"
                              name="metodologiadeensino"></textarea>
                </div>
            </div>
            <p>Cronograma de Atividades</p>
            <div class="row">
                <div class="form-group col-md-6">
                    <table class="table table-striped">
                        <thead>
                        <th>Aula</th>
                        <th>Conteúdo</th>
                        </thead>
                        <tbody>
                        <td>01</td>
                        <td>Pegar no banco</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="avaliacao">Avaliação</label>
                    <textarea class="form-control" rows="5" id="avaliacao" name="avaliacao"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="bibliografia">Bibliografia</label>
                    <textarea class="form-control" rows="5" id="Bibliografia" name="bibliografia"></textarea>
                </div>
            </div>
            <!-- Botões final -->
            <div id="actions" class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" value="salvar">Salvar</button>
                    <a href="#" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</section>
</html>