<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
    <title>Cadastrar Curso</title>
</head>
<section layout:fragment="conteudo">
    <div id="main" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h3>Adicionar Novo Curso</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/curso/cadastro" th:object="${curso}">
                    <div layout:include="Mensagem"></div>

                    <input type="hidden" th:field="*{id}"/>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="tipo">Tipo de Curso</label>
                            <input type="text" class="form-control" id="tipo" th:field="*{tipo}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="modalidade">Modalidade</label>
                            <input type="text" class="form-control" id="modalidade" th:field="*{modalidade}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="denominacao">Denominação</label>
                            <input type="text" class="form-control" id="denominacao" th:field="*{denominacao}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="habilitacao">Habilitação</label>
                            <input type="text" class="form-control" id="habilitacao" th:field="*{habilitacao}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="localoferta">Local da Oferta</label>
                            <input type="text" class="form-control" id="localoferta" th:field="*{localOferta}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Turnos de Funcionamento</label><br></br>
                            <div class="checkbox">
                                <label><input type="checkbox" name="turno1" value="matutino"/> Matutino</label>
                                <label><input type="checkbox" name="turno2" value="vespertino"/> Vespertino</label>
                                <label><input type="checkbox" name="turno3" value="noturno"/> Noturno</label>
                                <label><input type="checkbox" name="turno4" value="multi"/> Multi</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="qtdvagas">Número de Vagas para cada Turno</label>
                            <input type="text" class="form-control" id="qtdvagas" th:field="*{qntVagas}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cargahora">Carga Horária do Curso</label>
                            <input type="text" class="form-control" id="cargahora" th:field="*{cargaHoraria}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4"><h4>Estrutura Curricular</h4></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="regimeletivo">Regime Letivo</label>
                            <input type="text" class="form-control" id="regimeletivo" th:field="*{regimeLetivo}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="periodo">Períodos</label>
                            <input type="text" class="form-control" id="periodo" th:field="*{periodo}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4"><h4>Coordenador do Curso</h4></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Nome</label>
                            <!-- Consultar professores e ao salvar virar coordenador -->
                            <select class="form-control" id="nomeprofessor" name="nomeprofessor">
                                <option th:each="professor : ${todosProfessores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="periodo">CPF</label>
                            <fieldset disabled="disabled"><input type="text" class="form-control" id="cpf" name="cpf"/></fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="titulacao">Titulação</label>
                            <fieldset disabled="disabled"><input type="text" class="form-control" id="titulacao" name="titulacao"/></fieldset>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tempodedicacao">Tempo de Dedicação</label>
                            <fieldset disabled="disabled"><input type="text" class="form-control" id="tempodedicacao" name="tempodedicacao"/></fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <button class="btn btn-success" type="submit">Salvar</button>
                            <button class="btn btn-danger" type="submit">Cancelar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</html>