<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<div class="alert alert-success"
     th:if="${!#strings.isEmpty(mensagem)}">
    <span th:text="${mensagem}">Dados pessoais cadastrados com sucesso!</span>
</div>
<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
    <div th:each="detailedError : ${#fields.detailedErrors()}">
        <span th:text="${detailedError.getMessage()}"></span>
    </div>
</div>

</html>